<!-- displays home page content -->
{% extends 'templates/base.html' %}

{% block title %}Flashcard Selection{% endblock title %}

{% block content %}
<h1>Math Flashcards</h1>
<div class="container">
    <h2>Select a practice option:</h2>
    <ul>
        <!-- operation is passed into viewCard method w/a value unique to the selected link -->
        <li><a href="{% url 'view_card' operation='Addition' %}">Addition</a></li>
        <li><a href="{% url 'view_card' operation='Subtraction' %}">Subtraction</a></li>
        <li><a href="{% url 'view_card' operation='Multiplication' %}">Multiplication</a></li>
        <li><a href="{% url 'view_card' operation='Division' %}">Division</a></li>
        <li><a href="{% url 'view_card' operation='All' %}">Mixed Operations</a></li>
    </ul>
</div>
{% endblock content %}
